<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="/admin/add-product" class="nav-link">Add Product</a></li>
                <button type="submit" class="contact-us-button">
                    <li class="nav-item"><a href="/contact-us" class="nav-link">contact us</a></li>
                </button>
            </ul>
        </nav>
    </header>

    <form action="/contact-us" method="POST" class="form">
        <input type="text" name="name" class="form-input" id="name" placeholder="name">
        <input type="email" name="email" id="email" class="form-input" placeholder="email">
        <button type="submit" class="form-button">submit</button>
    </form>
    
</body>
</html>