<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
</head>
<body>

    <form action="/contact-us" method="POST" class="form">
        <input type="text" name="name" class="form-input" id="name" placeholder="name">
        <input type="email" name="email" id="email" class="form-input" placeholder="email">
        <button type="submit" class="form-button">submit</button>
    </form>
    
</body>
</html>